@media all .featherlight:last-of-type { 
	background: rgba(0, 0, 0, 0.6);
}
@font-face {
	font-family: AvenirWeb_bold;
	src: url("fonts/avenir-next-lt-pro/AvenirNextLTPro-Bold.otf") format("opentype");
	/*src: url("fonts/avenir-next-lt-pro/AvenirNextLTPro-Demi.otf") format("opentype"); */
}

@font-face {
	font-family: AvenirWeb_demi;
	src: url("fonts/avenir-next-lt-pro/AvenirNextLTPro-Demi.otf") format("opentype"); 
}

@font-face {
	font-family: AvenirWeb_regular;
	src: url("fonts/avenir-next-lt-pro/AvenirNextLTPro-Regular.otf") format("opentype");
}
h1 {
	font-family: AvenirWeb_bold;
}

h2, h3 {
	font-family: AvenirWeb_demi;
}

p, button {
	font-family: AvenirWeb_regular;
}

html, body {
	background: #F5F5F5;
}

.body {
	color: #565A5C;
}

.centered {
	text-align: center;
}

.placeholder {
	height: 360px;
	margin-top: 30px;
	background-size: 360px 360px;
	transition: background-color 0.5s ease;
}
.placeholder:hover {
	background-color: rgba(0, 0, 0, 0.75);
}

.placeholder:hover .catDescription {
 	display: inline-block;
}

.category {
	color: #FFFFFF;
	position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translateX(-50%) translateY(-50%);
}

.catDescription {
 	display: none;
}

.footer {
	height: 200px;
	background-color: #EEEEEE;
}

.page-header {
	border-bottom: 0px;
	margin-bottom: 25px;
	margin-top: 25px;
}


.page-logo {
	max-height: 70px;
}

.section-header {
	margin: 50px 0px 30px 0px;
}

.section-header h1 {
	color: #4A4A4A;
	font-size: 47px;
	font-family: AvenirWeb_demi;
}

.section-header p{
	font-size: 18px;
}

.jumbotron {
	color: #FFFFFF;
	text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
	padding-top: 100px;
	padding-bottom: 100px;
	background: url("assets/jumbotronBackground.jpg");
	background-size: cover;
	background-position: 0% 60%;
}

.jumbotron-container {
	display: block;
	position: relative;
	color: #FFFFFF;
	text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
	background: url("assets/favela.jpg");
	background-size: cover;
	background-position: 0% 60%;
	height: 460px;
	width: 100%;
    
}

.jumbotron-container h1 {
	line-height: 135%;
	margin-top: 0px;
	margin-bottom: 0px;
	background: rgba(0, 0, 0, .4);
	position: absolute;
	height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 47px;
}

.experiences {
	margin-bottom: 0px;
	margin-top: 100px;
	padding-top: 150px;
	padding-bottom: 150px;
	background: url("assets/biking.jpg");
	background-size: cover;
}

.btn-listings {
	background: #FF3036;
	font-weight: bold;
	margin-top: 50px;
	width: 20%;
}

.btn-listings:hover {
	background: #FF595E;
}

.btn, .btn:hover {
	color: #FFFFFF !important;
	padding: 10px 20px;
	border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

.footer {
	color: #FFFFFF;
	background: #2B2D2E url("assets/footer-background.png");
}

.lightbox{
	display: none;
}

.modal-listings{
	margin-top: 15px;
}
.modal-img{
    height: 500px;
    width: 100%;
}
.modal-listing{
	width: 100%;
}

#map-container {
	height: 100%;
}

#map { 
	height: 100%;
}

.tour{	
	color: #ffffff;
}

.placeholder:hover {
	cursor: pointer;
}

.iconic-mart{
	width:15%;
}
.iconic-fork{
	width:10%;
}
.iconic-ring{
	width:15%;
}
.iconic-hike{
	width:10%;
}

.blurb-sep{
	padding-top: 50px;
}

.blurb-img{
	border-radius: 4px;
	padding: 0px;
	overflow: hidden;
}

.blurb-img img {
	max-width: 100%;
}

.location-header-height {
	height: 300px;
}

.locations-img{
	background: url("assets/streets.jpg");
	background-position: 0% 35%;
}

hr {
	border-color: #666666;
}